.chat_list-group-item {
    /* width:100%; */
    left:0;
    border-top: black;
    border-left: black;
    border-right: black;
    margin: 2em;
    font-weight: bold;
}

.chat_container {
    margin-top: 10em;
}

.receiver {
    text-align: right;
    max-width: 30em;
    border: none;
    margin: 2em;
}

.sender span{
    margin: 1em;
    color: #516FCA;
}

.sender {
    text-align: left;
    max-width: 30em;
    border: none;
    margin-top: 2em;
}

.form-rounded {
    margin-top: 7em;
    border-radius: 1rem;
}