.body {
    background:#E7EAF1;
}

.feed_profile_pic {
    height: 6rem;
    width: 6rem;
}

.username {
    font-weight: bold;
}

.comp {
    margin-left: .4em;
}

.feed_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:25rem;
    height:25rem;
}

.hashtags {
    text-align: right;
    margin-top: 2em;
    margin: 2em;
    list-style:none;
}

.timestamp {
    text-align: right;
    font-weight: lighter;
}