.top{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background:#E5FAF8;
    z-index: 1;
}
/* 
.toolbar-navbar-fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background-color: #E7EAF1;

} */

.logo{
    color: #516FCA;
    font-weight: bold;
    margin-left: 20px;
    font-size: 30px;
    margin-bottom: 10px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.toolbar_navigation_items{
    float: right;
    margin-right: 30px;
    
    /* display: inline; */
}